html {
    background: black;
}

h1{
    text-align: center;
}

body {
	font-family: Helvetica;
	color: white;
    margin-left: 2.5%
}

h1, h2{
    line-height: 1;
}

h2{
    font-size: 20px;
}

a{
    font-size: 12px;
}

img {
    background: transparent;
    border: 10px;
    border-radius: 4px;
    display: block;
    max-width: 95%;
    margin: 1.3em auto;
}
